footer {
    background-image: url(../img/header.jpg);
    background-size: contain;
    background-position-x: center;
    height: 5vh;
    padding: 10px;

    h3{
        font-weight: bold;        
        color: yellow;
        text-shadow: 3px 3px black;    }
}